@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Her turlu bilginizi topluyoruz. Sifreleriniz bile plaintext. Ver babam bilgilerini.</p>
Cookie Policymizi kabul ederek 34848 anlasmali dostumuza yardimci olabilirsiniz
